<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<appSettings>
    <add key="Code_Vsr" value="101"/>
    <add key="Code2_Vsr" value="109"/>
		<add key="Code_Yip" value="301"/>
    <add key="Code_Gimla_Groups" value="33,34"/>
    <add key="Code_Malal_Groups" value="203,204"/>
		<add key="BllCodes" value="C:\Users\offa2\Desktop\files\Anatoly\xml\BLL_Codes.xlsx"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  
    <userSettings>
        <XmlCreator.Properties.Settings>
            <setting name="MainPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DateMLL" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkPath" serializeAs="String">
                <value />
            </setting>
        </XmlCreator.Properties.Settings>
    </userSettings>
</configuration>
