<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<appSettings>
    <add key="Code_Vsr" value="101"/>
    <add key="Code2_Vsr" value="109"/>
		<add key="Code_Yip" value="301"/>
		<add key="BllCodes" value="C:\Users\offa2\Desktop\files\Anatoly\xml\BLL_Codes.xlsx"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.7.40" newVersion="1.3.7.40"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <XmlCreator.Properties.Settings>
            <setting name="MainPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value/>
            </setting>
        </XmlCreator.Properties.Settings>
    </userSettings>
</configuration>
